@import "variables";

.jb-content {
	background-color: $content-background-color;
}

.jb-landing-image-wrapper {
	.jb-landing-image {
		background-image: url('../img/road.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		background-attachment: fixed;
		background-size: contain;

		height: 750px;

		// <= 1366
		@media screen and (max-width: $screen-xl) {
			height: 500px;
		}

		// <= 1080
		@media screen and (max-width: $screen-l) {
			height: 450px;
		}

		// <= 800
		@media screen and (max-width: $screen-m) {
			height: 350px;
		}

		// <= 600
		@media screen and (max-width: $screen-s) {
			background-image: url('../img/road-vertical.jpg');
			height: 300px;
		}

		// <= 400
		@media screen and (max-width: $screen-xs) {
			background-image: url('../img/road-vertical.jpg');
			height: 250px;
		}


	}

}

.jb-text {
	margin: 40px auto;
	max-width: 1000px;
	line-height: 1.6;
	font-size: 18px;
	color: $text-color;
	padding-left: 10px;
	padding-right: 10px;

	> p {
		text-align: justify;

	}

	@media screen and (max-width: $screen-l) {
		padding-left: 30px;
		padding-right: 30px;
	}
}