@import "variables";

.jb-content {
	background-color: $content-background-color;
}


.jb-landing-image {
	background-image: url('../img/road.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: 750px;

	@media screen and (max-width: $medium-screen) {
		height: 600px;
	}

	@media screen and (max-width: $small-screen) {
		height: 500px;
	}
}

.jb-text {
	margin: 40px auto;
	max-width: 1000px;
	line-height: 1.6;
	font-size: 18px;
	color: $text-color;
	padding-left: 10px;
	padding-right: 10px;


	@media screen and (max-width: $small-screen) {
		padding-left: 30px;
		padding-right: 30px;
	}
}