@import "variables";

.jb-navbar {
	position: fixed;
	margin-right: 0;
	top: 0;
	width: 100%;
	height:$navbar-height;
	background-color: $navbar-background-color;
	vertical-align: middle;
	display:flex;
	align-items:center;

}

.jb-nav-element{
	padding-left: 30px;
	padding-right: 30px;
	color: $accent-color;
	font-size: larger;
	font-weight: 900;
	word-wrap: break-word;
}


