
// screen sizes

$medium-screen: 1400px;
$small-screen: 800px;


// size
$navbar-height : 60px;
$footer-separation-height: 50px;


// colors
$accent-color: coral;
$text-color: #444;
$navbar-background-color: white;
$content-background-color: white;
$footer-separation-color: linear-gradient(to top, #DEDEDE, #DEDEDE);;