
// screen sizes

$screen-xl: 1400px;
$screen-l: 1080px;
$screen-m: 800px;
$screen-s: 600px;
$screen-xs: 400px;


// size
$navbar-height : 60px;
$footer-separation-height: 50px;


// colors
$accent-color: coral;
$text-color: #444;
$navbar-background-color: white;
$content-background-color: white;
$footer-separation-color: linear-gradient(to top, #DEDEDE, #DEDEDE);;